<div class= "col-xs-3">
<h2>User info</h2>
<%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
<table class="table">
  <tr>
    <th><p>name</p></th>
    <td><p><%= user.name %></p></td>
  </tr>
  <tr>
    <th><p>introduction</p></th>
    <td><p><%= user.introduction%></p></td>
  </tr>
 </table>
 <%= link_to"",edit_user_path(user.id), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench"%>